.button {
  text-align: center;
  font-size: 13px;
  line-height: 23px;
  font-weight: 300;
  border-radius: 3px 3px 3px 3px;
}

.button-addcart {
  width: 132px;
  height: 40px;
  line-height: 40px;
  background: #4F9FC3;
  color: #FFFFFF;
}
