.carousel {
  color: #FFF;
  overflow: hidden;
  text-align: center;
  align-items: flex-end;
  &__slide-content {
    margin-top: 170px;
    height: 268px;
    padding-top: 64px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
    @include pc () {
      margin-top: 470px;
      padding-top: 0;
    }
  }
  &__title {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 400;
    line-height: 29px;
  }
  &__text {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 16px;
    padding: 0 32px;
    line-height: 19px;
    text-align: left;
    @include pc () {
      text-align: center;
    }
  }
  &__price {
    font-size: 15px;
    font-weight: 300;
    line-height: 22px;
    margin-bottom: 16px;
  }
  &__slide-1 {
    background: url(./imgs/carousel/slide-1.jpg) no-repeat center/cover;
  }
  &__slide-2 {
    background: url(./imgs/carousel/slide-2.jpg) no-repeat center/cover;
  }
  &__slide-3 {
    background: url(./imgs/carousel/slide-3.jpg) no-repeat center/cover;
  }
  &__slide-4 {
    background: url(./imgs/carousel/slide-4.jpg) no-repeat center/cover;
  }
  &__button-addcart {
    color: #fff;
    display: block;
    text-decoration: none;
    height: 40px;
    line-height: 40px;
    border: 1px solid #fff;
    width: 132px;
    margin: auto;
  }
}

.slick-slide img {
  display: inline;
}

.slick-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 24px;
  @include pc () {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 40px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots li {
  margin: 0  2px;
}

.slick-dots li button {
  border: 0 none;
  font-size: 0;
  line-height: 0;
  padding: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #fff;
  background: none;
  display: block;
}

.slick-dots li.slick-active button {
  background-color: #fff;
}
