.heading {
  display: inline-block;
  text-align: center;
  &__wrap {
    text-align: center;
    margin-bottom: 40px;
    @include pc {
      margin-bottom: 48px;
    }
  }
  &__english {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
    padding: 0 16px;
    margin-bottom: 5px;
    @include pc {
      font-size: 25px;
      line-height: 37px;
      padding: 0 32px;
      margin-bottom: 0px;
    }
  }
  &__japanese {
    color: #999999;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 8px;
    @include pc {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 16px;
    }
  }
  &__border {
    border-bottom: 5px solid;
    border-image: linear-gradient(90deg, #31ABE2 20%, #572862 70%);
    border-image-slice: 1;
  }
}
