.feature {
  text-align: center;
  padding: 40px 20px 32px;
  @include pc() {
    max-width: 324px;
    padding: 56px 22px 48px;
  }
  &--last {
    padding: 40px 20px 0;
    @include pc() {
      max-width: 324px;
      padding: 56px 22px 48px;
    }
  }
  &__img {
    height: 100px;
    margin-bottom: 24px;
  }
  &__title {
    font-size: 16px;
    margin-bottom: 12px;
  }
  &__text {
    font-size: 13px;
    line-height: 23px;
    font-weight: 300;
  }
}
