extends /layouts/_base

block variables
  - title = '<%= title %>'

block content

  //- Sample Content
  include /layouts/_hero
  section.section.section--white
  section.section.section--gray
  section.section--limited
  section.section.section--gray.section--media
    include /layouts/_media
