extends /layouts/_base

block variables
  title = '<%= title %>'

block content

  //- Sample Content
  include /layouts/_hero
  include /layouts/_feature
  include /layouts/_popular
  section.section--limited
  include /layouts/_media
