extends /layouts/_base

block variables
 - title = false

block content

  //- Sample Content
  include /lib/_heading
  include /lib/_feature-content
  include /lib/_popular-card
  include /lib/_media-content
  include /lib/_carousel-content
  include /layouts/_hero
  include /layouts/_feature
  include /layouts/_popular
  include /layouts/_carousel
  include /layouts/_media
