extends /layouts/_base

block variables
 - title = false

block content

  //- Sample Content
  include /layouts/_hero
  include /layouts/_feature
  include /layouts/_popular
  include /layouts/_carousel
  include /layouts/_media
