section.carousel
  .carousel__slide-1
    .carousel__slide-content
      +carousel(
        'ジョン・ランドループ',
        '期間限定、ジョン・ランドループのスペシャルプラモデル。まるで本物のような質感で、ファンを魅了します。',
        '12,800円'
        )
  .carousel__slide-2
    .carousel__slide-content
      +carousel(
        'ダース・モールのセイバー',
        '期間限定、ダース・モールのセイバー。まるで本物のような質感で、ファンを魅了します。',
        '32,800円'
        )
  .carousel__slide-3
    .carousel__slide-content
      +carousel(
        'スケルトン・アート',
        '期間限定、スケルトン・アート。まるで本物のようなアートで、多くのファンを魅了します。',
        '1,200円'
        )
  .carousel__slide-4
    .carousel__slide-content
      +carousel(
        'ザ・マン',
        '期間限定、男の人のスペシャルプラモデル。まるで本物のような存在感で、見る人を虜にします。',
        '15,800円'
        )
