section#feature.section.section--white
  .container
    +heading('FEATURE','特徴')
    .row
      .col--4
        .feature
          img.feature__img(src='./imgs/deliverySoon.svg' alt='')
          +feature('すぐにお届けします', '日本全国どこにでも、注文を受けてから5分以内に配達いたします。')
      .col--4
        .feature
          img.feature__img(src='./imgs/refundGuarantee.svg' alt='')
          +feature('高額返金保証付き', '万が一商品に傷、痛みがあった場合、全体金額の0.09%を全額返金保証させていただきます。')
      .col--4
        .feature.feature--last
          img.feature__img(src='./imgs/warranty.svg' alt='')
          +feature('保証書付き', '発送したその日から、最大2日間有効な保証書が必ず付属しています。')
