footer.footer
  .row
    .col--3
      +footer('商品メニュー', '売れ筋商品', 'カテゴリ別商品', '注目の商品')
    .col--3
      +footer('その他', 'ヘルプ', '利用規約', 'プライバシーポリシー')
    .col--6
      a.footer__facebook(href=''): i.fab.fa-facebook
      a.footer__twitter(href=''): i.fab.fa-twitter
  p.footer__source: a(href='https://www.vecteezy.com/free-vector') Vectors by Vecteezy
  p.footer__copyright © Update.
