header.header
  .container
    .header__nav
      h1: a(href='index.html').header__nav-logo STAGE-2
      .header__nav-item#js-feature Feature
      .header__nav-item#js-popular Popular
      .header__nav-item#js-media Media
