section.section.section--gray
  .container.container--popular
    +heading('POPULAR', '人気の商品')
    .container__card-area.row
      .col.col--4
        +popular-card(
          '/imgs/mammoth.jpg',
          'マンモスのプラモデル',
          'まるで本物のようなマンモスのプラモデルです。草原、空もセットで付属されています。',
          ['動物', '大きい', '自然', '危険', '初心者向け'],
          '1200円'
          )
      .col.col--4
        +popular-card(
          '/imgs/tiger.jpg',
          'タイガーのプラモデル',
          'まるで本物のようなタイガーのプラモデルです。木もセットで付属されています。',
          ['動物', '大きい', '自然', '危険', '初心者向け'],
          '1200円'
          )
      .col.col--4
        +popular-card(
          '/imgs/eagle.jpg',
          'イーグルのプラモデル',
          'まるで本物のようなイーグルのプラモデルです。調教器具もセットで付属されています。',
          ['動物', '大きい', '自然', '危険', '初心者向け'],
          '1200円'
          )
