section.section.section--gray#popular
  .container.container--popular
    +heading('POPULAR', '人気の商品')
    .container__card-area.row
      +popular-card(
        'mammoth',
        'マンモスのプラモデル',
        'まるで本物のようなマンモスのプラモデルです。草原、空もセットで付属されています。',
        ['動物', '大きい', '自然', '危険', '初心者向け'],
        '1,200円'
        )
      +popular-card(
        'tiger',
        'タイガーのプラモデル',
        'まるで本物のようなタイガーのプラモデルです。木もセットで付属されています。',
        ['動物', '大きい', '自然', '危険', '初心者向け'],
        '1,200円'
        )
      +popular-card(
        'eagle',
        'イーグルのプラモデル',
        'まるで本物のようなイーグルのプラモデルです。調教器具もセットで付属されています。',
        ['動物', '大きい', '自然', '危険', '初心者向け'],
        '1,200円'
        )
