mixin carousel(title, text, price)
  h2.carousel__title #{title}
  p.carousel__text #{text}
  p.carousel__price #{price}
  .button.carousel__button-addcart
    i.material-icons-cart shopping_cart
    |  カートに追加